<p>Dear {{name}},</p>
<p>We have received a password reset request from your email address associated with the account on the Website system.
    Below are the instructions for you to set a new password:</p>
<p>Your verification code is:</p>
<h2>{{code}}</h2>
<p>After clicking the link above, you will be directed to a page to set a new password for your account.</p>
<p>We encourage you to choose a strong and unique password to protect your account. Additionally, please do not share
    your password with anyone and ensure that you log out of your account after using it on public devices.</p>
<p>If you encounter any issues or need assistance during the password reset process, please do not hesitate to contact
    us via email: support@gmail.com</p>
<p>We appreciate your cooperation and are ready to support you throughout this process.</p>
<p>Best regards,</p>
