<p>Dear {{name}},</p>
<p>
    We warmly welcome you to the Website!</p>
<p>Your account has been created and is waiting to be activated. To continue enjoying the full experience of our
    services and applications, please follow the activation steps below:</p>
<p>Visit our website at</p>
<a href={{url}}>Activate Account</a> or
<p>{{url}}</p>
<p>Log in with your email and password to complete the activation process.</p>
<p>Once your account is activated, you will have access to the features and services of the Website.</p>
<p>If you encounter any issues or need assistance during the activation process, please do not hesitate to contact us
    via email: support@gmail.com.</p>
<p>We are delighted to welcome you to our community and hope that you will enjoy your experience at the Website.</p>
<p>Best regards,</p>
